/* Primary menu _____________________ */

.navigation {
	margin: 0 auto;
	padding: 10px 0;
}

.navigation:after {
	clear: both;
}

// .navigation ul {
// 	list-style: none;
// 	float: right;
// 	margin: 0;
// }

// .navigation li {
// 	float: left;
// }

// .navigation a {
// 	display: block;
// 	padding: 13px 20px;
// 	color: #777;
// 	text-transform: uppercase;
// }

// .navigation .current-menu-item a {
// 	color: #000;
// }

// .navigation li ul {
// 	display: none;
// }

/* Header bar ******************************/
.top {
  color: white;
  background-color: $rgba-primary-4;
  clear: both;
  text-align: center;
  padding: 5px;
}

/* Logo  and slogan **************************************/

.header-wrap {
  text-align: center;
  padding: 5px;
  background: $rgba-primary-1;
}

.header-wrap h2 {
  position: relative;
}

/* for flexbox work */
@import "compass/css3/flexbox";

.flex-row {
  @include display-flex;
  @include flex-direction(row);
  @include align-content(stretch);
  @include justify-content(center);
  padding: 5px;
}

.flex-item {
  padding: 2px;
}
.flex-item#logo-text {
  @include align-self(baseline);
}

.logo {
  margin-left:2%;
  height:40px;
  vertical-align:middle;
} 

/* menu bar and ul items *******************************/
.menu {
  color: white;
  background-color: $rgba-primary-3;
  text-align: center;
}

#menubar { 
	width: 960px;
  	height: 50px;
  	text-align: center; 
  	margin: 0 auto;
  	background: #0043A8;
  	background: -moz-linear-gradient(#43A9FF, #0043A8);
  	background: -o-linear-gradient(#43A9FF, #0043A8);
  	background: -webkit-linear-gradient(#43A9FF, #0043A8);
  	border-radius: 15px 15px 0px 0px;
  	-moz-border-radius: 15px 15px 0px 0px;
  	-webkit-border: 15px 15px 0px 0px;
  	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 

 ul#menu { 
 	margin:0;
  	margin: 0 0 0 20px;
}

ul#menu li { 
	padding: 0 0 0 0px;
  	list-style: none;
  	margin: 2px 0 0 0;
  	display: inline;
  	background: transparent;
}

ul#menu li a {
 	float: left;
  	font: bold 120% Arial, Helvetica, sans-serif;
  	text-align: center;
  	color: #FFF;
  	text-decoration: none;
  	height: 24px;
  	text-shadow: 0px -1px 0px #000;
  	padding: 16px 20px 10px 20px;
  	background: transparent; 
} 
  
ul#menu li.current a { 
	color: #FFF;
  	background: #323232;
  	text-shadow: none;
}
  
ul#menu li:hover a { 
  	color: #FFF;
  	background: #323232;
  	text-shadow: none;
}